.login{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  border-radius: 25px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
}

.center{
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-image: url("https://s.yimg.com/ny/api/res/1.2/f1Sjsb8J13gfrcS_kaMO5A--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en-US/homerun/motleyfool.com/a115b73f349a87bb0d60eb9e83087520");
}
